<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

  <h1>Signup</h1>

  <form id="signupForm">
    <input type="text" id="username" placeholder="Username" required><br>
    <input type="text" id="firstname" placeholder="First Name"><br>
    <input type="text" id="lastname" placeholder="Last Name"><br>
    <input type="password" id="password" placeholder="Password" required><br>
    <button type="submit">Create Account</button>
  </form>

  <p id="message"></p>

  <script src="/public/js/signup.js"></script>
</body>
</html>